<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Warbler</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.3/dist/js/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/2676a6587e.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">

  <nav class="navbar navbar-expand">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/static/images/warbler-logo.png" alt="logo">
          <span>Warbler</span>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        {% block searchbox %}
        <li>
          <form class="navbar-form navbar-right" action="/users">
            <input name="q" class="form-control" placeholder="Search Warbler" aria-label="Search" id="search">
            <button class="btn btn-default">
              <span class="fa fa-search"></span>
            </button>
          </form>
        </li>
        {% endblock %}

        {% if not g.user %}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        {% else %}
        <li>
          <a href="/users/{{ g.user.id }}">
            <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
          </a>
        </li>
        <li><!-- Button trigger modal -->
          <a class="btn-link btn" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">New Message</a>
        </li>
        <li>
          <form id="CSRFProtectForm" action="/logout" method="POST">
            {{ g.csrf_form.hidden_tag() }}
            <a id="logout"></a><button class="btn-link btn">Log out</button></a>
          </form>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </div>

  <!-- Modal -->
  <div class="modal fade mt-5" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">


          <h1 class="modal-title fs-5" id="staticBackdropLabel">Write a Message </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="/messages/new">
          <div class="modal-body">
            {{ g.message_form.csrf_token }}
            <div>
              {% if g.message_form.text.errors %}
                {% for error in g.message_form.text.errors %}
                  <span class="text-danger">{{ error }}</span>
                {% endfor %}
              {% endif %}
              {{ g.message_form.text(placeholder="What's happening?", class="form-control", rows="3") }}

              {% if message %}
                {{ g.message_form.parent_id(value=message.id) }}
              {% endif %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-outline-success">Warble!</button>
        </form>
      </div>
    </div>
  </div>
  </div>

  <script src="{{ url_for('static', filename='javascript/icons.js')}}"></script>
  <script src="{{ url_for('static', filename='javascript/index.js')}}"></script>
</body>

</html>