{% extends 'base.html' %}
{% block content %}
<div class="row">

  <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
    <div class="card user-card">
      <div>
        <div class="image-wrapper">
          <img src="{{ g.user.header_image_url }}" alt="" class="card-hero">
        </div>
        <a href="/users/{{ g.user.id }}" class="card-link">
          <img src="{{ g.user.image_url }}" alt="Image for {{ g.user.username }}" class="card-image">
          <p>@{{ g.user.username }}</p>
        </a>

        <div class="list-group list-group-flush">
          <a href="/users/{{ g.user.id }}"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-1">
            Messages <span class="badge bg-secondary">{{ g.user.messages | length }}</span>
          </a>
          <a href="/users/{{ g.user.id }}/following"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-1">
            Following <span class="badge bg-secondary">{{ g.user.following | length }}</span>
          </a>
          <a href="/users/{{ g.user.id }}/followers"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-1">
            Followers <span class="badge bg-secondary">{{ g.user.followers | length }}</span>
          </a>
        </div>

      </div>
    </div>
  </aside>

  <div class="col-lg-6 col-md-8 col-sm-12">
    <ul class="list-group" id="messages">
      {% for msg in messages %}
      <li class="list-group-item">
        <a href="/messages/{{ msg.id }}" class="message-link"></a>
        <a href="/users/{{ msg.user.id }}">
          <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
        </a>

        <div class="message-area">
          <div class="message-heading">
            <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
            <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
          </div>

          <div class="message-body">
            <p class="single-message">{{ msg.text }}</p>
          </div>

          <div class="message-btns">
            {% if g.user in msg.users_liked %}

            <button title="Unlike" class="btn btn-sm btn-light unlike" data-endpoint="/messages/{{ msg.id }}/unlike">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 25.3-19.5 46-44.3 47.9c7.7 8.5 12.3 19.8 12.3 32.1c0 23.4-16.8 42.9-38.9 47.1c4.4 7.2 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z" />
              </svg>
            </button>

            {% else %}

            <button title="Like" class="btn btn-sm btn-light like" data-endpoint="/messages/{{ msg.id }}/like">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 25.3-19.5 46-44.3 47.9c7.7 8.5 12.3 19.8 12.3 32.1c0 23.4-16.8 42.9-38.9 47.1c4.4 7.2 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z" />
              </svg>
            </button>

            {% endif %}
            <form method="#" action="#" class="message-btn">
              <button disabled title="Feature under construction" class="btn btn-sm btn-light comment">
                <svg class="icon comment" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                  <path
                    d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L512.9 376.7C552.2 340.2 576 292.3 576 240C576 125.1 461.4 32 320 32c-67.7 0-129.3 21.4-175.1 56.3L38.8 5.1zM64 240c0 45.1 17.7 86.8 47.7 120.9c-1.9 24.5-11.4 46.3-21.4 62.9c-5.5 9.2-11.1 16.6-15.2 21.6c-2.1 2.5-3.7 4.4-4.9 5.7c-.6 .6-1 1.1-1.3 1.4l-.3 .3 0 0 0 0 0 0 0 0c-4.6 4.6-5.9 11.4-3.4 17.4c2.5 6 8.3 9.9 14.8 9.9c28.7 0 57.6-8.9 81.6-19.3c22.9-10 42.4-21.9 54.3-30.6c31.8 11.5 67 17.9 104.1 17.9c37 0 72.3-6.4 104-17.9L82.9 161.3C70.7 185.6 64 212.2 64 240z" />
                </svg>
              </button>
            </form>
            {% if g.user.id == msg.user.id %}
            <form method="POST" action="/messages/{{ msg.user.id }}/delete" class="message-btn">
              <button title="Delete Message" class="btn btn-sm btn-light delete">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                </svg>
              </button>
            </form>
            {% elif g.user.is_following(msg.user) %}
            <button title="Unfollow User" class="btn btn-sm btn-light unfollow"
              data-endpoint="/users/stop-following/{{ msg.user.id }}">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <path
                  d="M352 128c0 70.7-57.3 128-128 128s-128-57.3-128-128S153.3 0 224 0s128 57.3 128 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM625 177L497 305c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L591 143c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
              </svg>
            </button>
            {% else %}
            <button title="Follow User" class="btn btn-sm btn-light follow"
              data-endpoint="/users/follow/{{ msg.user.id }}">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <path
                  d="M352 128c0 70.7-57.3 128-128 128s-128-57.3-128-128S153.3 0 224 0s128 57.3 128 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
              </svg>
            </button>
            {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}