{% extends 'base.html' %}

{% block content %}

<div class="bg"></div>
<div class="row justify-content-center">
  <div class="col-md-8">
    <ul class="list-group no-hover" id="messages">
      <li class="list-group-item">
        <a href="{{ url_for('users_show', user_id=message.user.id) }}">
          <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
        </a>
        <div class="message-area">
          <div class="message-heading">
            <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
          </div>

          <div class="message-body">
            <p class="single-message">{{ message.text }}</p>
          </div>

          {% if g.user %}
          <div class="message-btns">
            {% if g.user in message.users_liked %}
            <form method="POST" action="/messages/{{ message.id }}/unlike" class="message-btn">
              <button title="Like" class="btn btn-sm btn-primary "><i class="fas fa-thumbs-up"></i></button>
            </form>
            {% else %}
            <form method="POST" action="/messages/{{ message.id }}/like" class="message-btn">
              <button title="Unlike" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i></button>
            </form>
            {% endif %}

            <form method="#" action="#" class="message-btn">
              <button disabled title="Feature under construction" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-comment-slash"></i></button>
            </form>

            {% if g.user.id == message.user.id %}
            <form method="POST" action="/messages/{{ message.id }}/delete" class="message-btn">
              <button class="btn btn-sm btn-outline-danger"><i class="fa-regular fa-trash-can"></i></button>
            </form>
            {% elif g.user.is_following(message.user) %}
            <form method="POST" action="/users/stop-following/{{ message.user.id }}">
              <button class="btn btn-sm btn-primary"><i class="fa-solid fa-user-check"></i></button>
            </form>
            {% else %}
            <form method="POST" action="/users/follow/{{ message.user.id }}" class="message-btn">
              <button class="btn btn-sm btn-outline-primary btn-sm"><i class="fa-solid fa-user-plus"></i></button>
            </form>
            {% endif %}

          </div>
          {% endif %}


        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}