{% extends 'base.html' %}

{% block content %}

<div id="warbler-hero" class="full-width" style="background-image: url('{{ user.header_image_url }}');"></div>
<img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row full-width">
  <div class="container" style="max-width: 1300px;">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">

          <li class="stat">
            <a href="/users/{{ user.id }}" class="btn btn-sm btn-light">
              Messages <span class="badge bg-secondary">{{ user.messages | length }}</span>
            </a>
          </li>

          <li class="stat">
            <a href="/users/{{ user.id }}/following" class="btn btn-sm btn-light">
              Following <span class="badge bg-secondary">{{ user.following | length }}</span>
            </a>
          </li>

          <li class="stat">
            <a href="/users/{{ user.id }}/followers" class="btn btn-sm btn-light">
              Followers <span class="badge bg-secondary">{{ user.followers | length }}</span>
            </a>
          </li>

          <li class="stat">
            <a href="/users/{{ user.id }}/liked-messages" class="btn btn-sm btn-light">
              Likes <span class="badge bg-secondary">{{ user.liked_messages | length }}</span>
            </a>
          </li>

          <div id="user-profile-btns" class="ms-auto">
            {% if g.user.id == user.id %}
            <a href="/users/profile" class="btn btn-sm btn-outline-secondary">Edit Profile</a>

            {% elif g.user %}
            {% if g.user.is_following(user) %}
            <button title="Unfollow User" class="btn btn-sm btn-light unfollow"
              data-endpoint="/users/stop-following/{{ user.id }}">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <path
                  d="M352 128c0 70.7-57.3 128-128 128s-128-57.3-128-128S153.3 0 224 0s128 57.3 128 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM625 177L497 305c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L591 143c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
              </svg>
            </button>
            {% else %}
            <button title="Follow User" class="btn btn-sm btn-light follow"
              data-endpoint="/users/follow/{{ user.id }}">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <path
                  d="M352 128c0 70.7-57.3 128-128 128s-128-57.3-128-128S153.3 0 224 0s128 57.3 128 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
              </svg>
            </button>
            {% endif %}
            {% endif %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">@{{ user.username }}</h4>
    <p>{{ user.bio }}</p>
    <p class="user-location"><span class="fa fa-map-marker"></span> {{ user.location }}</p>
  </div>

  {% block user_details %}
  {% endblock %}

  {% block like_messages %}

  {% endblock %}

</div>

{% endblock %}